:root {
    --primary-color: #F8D82A;
    --active-color: #C0C0C0;
    --secondary-color: #800040;
    --font-color:#C0C0C0 ;
    --card-background-color: rgba(0, 0, 0, 0.25);
    --header-font: 'Satisfy', sans-serif;
    --text-font: 'Montserrat', sans-serif;
}

html{
    background-color: var(--secondary-color);
}

.my-orders {
    margin: 100px 50px;
    color: var(--primary-color);
}

.my-orders .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.my-orders-order {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid tomato;
}
.my-orders-order span {
    color: tomato;
}
.my-orders-order button {
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: #454545;
}
@media (max-width: 900px) {
    .my-orders-order {
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
}