.add {
    width: 70%;
    margin-left: 25px;
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.add-img-upload .upload-area {
    width: 120px;
    height: 80px;
    border: 2px dashed #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
}
.add-img-upload img {
    width: 120px;
    height: 70px; /* Reduced height for preview */
    object-fit: cover;
}
.add-product-name, .add-product-description {
    width: max(40%, 280px);
}
.add-product-name input, .add-product-description textarea {
    padding: 10px;
}
.add-category-price {
    display: flex;
    gap: 30px;
}
.add-category select, .add-price input {
    max-width: 120px;
    padding: 10px;
}
.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.add-btn:hover {
    background-color: #333;
}