.sidebar {
    width: 25%;
    height: 100vh;
    min-height: 100vh;
    border-right: 1.5px solid #a9a9a9;
    background-color: #fff;
    font-size: clamp(10px, 1.2vw, 180px);
    position: sticky;   /* 2. Makes it stick */
    top: 0;
}
.sidebar-options {
    padding-top: 50px;
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #a9a9a9;
    border-right: 0;
    padding: 8px 10px;
    border-radius: 3px 0px 0px 3px;
    cursor: pointer;
    color: black;
}
/* This style applies automatically when the link is active */
.sidebar-option.active {
    background-color: #fff0ed;
    border-color: tomato;
}